
main#app
  // background-color: skyblue
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: calc(100vh - 47px)
  overflow-y: scroll
  overflow-x: hidden
