.homepage
  .home-title
    text-transform: capitalize
    font-family: 'Pacifico', cursive
    color: white
  .housing-cats
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .housing-cat-item > span
      background-color: rgba(#eee, 0.85)
      padding: 15px 18px
      display: block
      margin: 15px 0
      border-radius: 2px
      text-transform: uppercase
      text-align: center
